body {
     background-color: #F4F4F7; 
     /* background-color: seagreen;  */
}
.sec {
    /* width: 500px;
   min-width: 200px; */
   min-height: 20vh;
}
.sec1 {
    background-color: seagreen;

}
.sec2 {
    background-color: sienna;
}    
.sec3 {
    background-color: slateblue;
}    
.sec4 {
    background-color: rgb(122, 121, 156);
}    
.sec5 {
   background-color: rgba(235, 11, 255, 0.945);
}
 .twot {
    /* margin-top: 100px !important; */
} 

img {
     /* width: 100%;  */
}

:root {
    --p-color: #333;
    --opinion-author-text-color: #555;
}
.moreS-card img {
    width: 100px;
    height: 100px;
}
.opinion-card img,
.debate img {
    width: 63px;
}
.opinion-card p,
.debate p {
    color: var(--opinion-author-text-color);
    font-size: 0.875rem;
    line-height: 1.23;
}
.moreS-contentBox p {
    font-size: 0.8125rem;
    line-height: 1.38;
    color: var(--p-color);
} 
.moreS-contentBox h6 {
    font-size: 0.9444rem;
    line-height: 1.17;
}

.debate-middle  {
    border-top: 3px double #D9D9D9;
    
}
 .debate-middle p {
     padding: 7px;
    left: 50%;
    top: -12px;
}