body {
     background-color: #F4F4F7; 
     /* background-color: seagreen;  */
     font-family: 'Roboto Condensed', sans-serif;
}
.sec {
    /* width: 500px;
   min-width: 200px; */
   min-height: 20vh;
}
.sec1 {
    background-color: seagreen;

}
.sec2 {
    background-color: sienna;
}    
.sec3 {
    background-color: slateblue;
}    
.sec4 {
    background-color: rgb(122, 121, 156);
}    
.sec5 {
   background-color: rgba(235, 11, 255, 0.945);
}
 .twot {
    /* margin-top: 100px !important; */
} 

img {
     /* width: 100%;  */
}

:root {
    --header-label-color: #9A9A9A;
    --p-color: #333;
    --opinion-author-text-color: #555;
}
/* base */
.my-turn a:hover{
    color: var(--header-label-color);
}

/* typography */
.header-label-text {
    font-size: 16px;
    line-height: 1;
    color: var(--header-label-color);
    font-weight: 400;
    margin-top: 20px;
}
.header-main-heading {
    font-size: 1.375rem;
    line-height: 1.09;
    font-weight: 700;
}
.p-text {
    font-family: 'Arial';
    font-size: 0.9375rem;
    line-height: 1.3333;
    color: var(--p-color);
}
.my-turn-text  {
    color: var(--header-label-color);
    font-size: 1rem;
    line-height: 1.1875;
}
/* end typography */

.wrapper {
    max-width: 1300px;
    margin: 0 auto;
}
.moreS-card img {
    width: 100px;
    height: 100px;
}
.opinion-card img,
.debate img {
    width: 63px;
}
.ePick-c3 img {
    width: 95px;
}
.opinion-card p,
.debate p {
    color: var(--opinion-author-text-color);
    font-size: 0.875rem;
    line-height: 1.23;
}
.moreS-contentBox p {
    font-size: 0.8125rem;
    line-height: 1.38;
    color: var(--p-color);
} 
.moreS-contentBox h6 {
    font-size: 0.9444rem;
    line-height: 1.17;
}

.debate-middle  {
    border-top: 3px double #D9D9D9;
    
}
 .debate-middle p {
     padding: 7px;
    left: 50%;
    top: -12px;
}
.covers img {
    height: 227px;
}
#subscribe-cover2 {
    left: 43%;
    top: 7%; 
}
.newsletter img {
    /* height: 300px;
    width: 200px; */
}
/* .newsletter-body {
    min-width: 60%;
} */
/* .newsletter-imgBox {
    min-height: 300px;
} */